%nav.navbar.navbar-default{role: "navigation"}
  .container
    .navbar-header
      = image_tag "logo.png", height: '45'
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to '#' do
          %span.glyphicon.glyphicon-log-out
